$accent: #de141b; 
$bg: #171921; 


%inter-400 {
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
}
%inter-500 {
  font-family: "Inter-Medium", sans-serif;
  font-weight: 500;
}
%inter-700 {
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
}
